:root{
    --primary-color-text:#2E2F42;
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
}

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color-baground);
    max-width: 1440px;
    margin: 0 auto;
}
/* main css */
.main-header-logo,
.main-footer-logo,
.portfolio-header-logo,
.portfolio-footer-logo{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5em;
}
.main-footer-logo,
.portfolio-footer-logo:hover{
    color: var(--primary-color-baground);
}
.main-page-nav-content{
     background-color: var(--primary-color-baground);
}

.main-nav-items,
.portfolio-nav-items{
    color: var(--primary-color-text);
    font-style:SemiBold;
    font-size: 16px;
    line-height: 24px;
    height: 72px;   
}
.main-header-contact,
.portfolio-header-contacts,
.portfolio-text-p,
.main-text-p{
    color: var(--primary-color-contact);
    font-family: Roboto;
    font-style: Regular;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px; 
    
}
.main-title-content{
    height: 600px;
    background-color: var(--primary-color-title);
}
.main-title-item{
    color:var(--primary-color-baground);
    font-style: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    justify-content: center;
    padding-top: 190px;
    
}
.btn{
    display: flex;
    margin: 0 auto;
    color: var(--primary-color-button);
    width: 170px;
    height: 51px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 190px;
}
.btn:hover{
    background: var(--primary-color-button);
    color: var(--primary-color-baground);
    fill:solid;
    border-radius: 4px;
}


/* portfolio css */

.portfolio-header-line{
    margin: 0;
    padding: 0;
    width: 1440px;
}

.portfolio-content-items{
    display: flex;
    justify-content: center;
    
}
.portfolio-items-list{
    color: var(--primary-color-button);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 24px 0 24px;

}
.portfolio-items-list:hover{
    background: var(--primary-color-button);
    color:var(--primary-color-baground); 
}
h3{
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-color-text);
    font-weight: 600;
}


/* footer */
.footer{
    margin-top: 120px;
    height: 310px;
    background-color: #2E2F42;
}
.footer-link{
    margin-bottom: 16px;
}
.footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
