:root{
    --primary-color-text:#2E2F42;
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
}

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto','Raleway', sans-serif;
    background-color: var(--primary-color-baground);
    max-width: 1440px;
    margin: 0 auto;
}
/* main css */
.main-logo1,
.footer-logo1{
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    
}
.main-logo2{
    color: var(--primary-color-title);
}
.footer-logo2{
    color: var(--primary-color-logo2);
}

.main-page-nav-content{
     background-color: var(--primary-color-baground);
}

.main-nav-items,
.portfolio-nav-items{
    color: var(--primary-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;  
}
.main-nav-items:hover,
.portfolio-nav-items:hover{
    color:var(--primary-color-button);
}
.header-contact,
.main-text-about,
.main-job-title,
.portfolio-text-about{
    color: var(--primary-color-contact);
    font-weight: 400;
    font-size: 16px;
    line-height: 0.02; 
}
.header-contact:hover{
    color:var(--primary-color-button);
}
.main-title-content{
    background-color: var(--primary-color-title);
    height: 600px;
}
.main-title-todo{
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;

}
.main-title-item{
    color:var(--primary-color-baground);
    font-style: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    padding-top: 190px;
    letter-spacing: 0.02;
}
.btn{
    display: flex;
    margin: 0 auto;
    color: var(--primary-color-button);
    width: 170px;
    height: 51px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 190px;
    background-color: var(--primary-color-button);
    color: var(--primary-color-baground);
}
.btn:hover{
    background: var(--primary-color-button);
    color: var(--primary-color-baground);
    fill:solid;
    border-radius: 4px;
}
.h3-goals,
.h3-name,
.h3-type-app{
    color: var(--primary-color-text);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
/* portfolio css */
.portfolio-header-line{
    margin: 0;
    padding: 0;
    width: 1440px;
}
.portfolio-content-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;  
  
}
.portfolio-buttons-items{  
    color: var(--primary-color-button);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 24px 0 24px;
    border-radius: 4px;
}
.portfolio-buttons-items:hover{
    background: var(--primary-color-button);
    color:var(--primary-color-baground); 
}

/* footer */
.footer{
    margin-top: 120px;
    height: 310px;
    background-color: #2E2F42;
}
.footer-link{
    margin-bottom: 16px;
}
.main-footer-text,
.portfolio-footer-text{
    color: var(--footer-color-text);
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
}
